body {
  font-family: 'Segoe UI', sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
}

.page-header {
  justify-content: center;
  padding-bottom: 20px;
}

/* STYLING THE NAVIGATION */
.nav-list {
  display: flex;
  justify-content: center;
  background-color: #bababb;
  gap: 32px;
  list-style-type: none;;
  padding: 10px;
}

.nav-list a {
  color: white;
  background-color: #bababb;
  font-weight: bold;
  text-decoration: none;
}

.nav-list a:hover {
  text-decoration: underline;
}

  /* from here will be a box-sizing */
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
.content-section {
    margin: 2rem 1rem 4rem;
}

section > p {
  margin: 1rem 0 2rem;
}

/*Back button header title*/
.title-header-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-bottom: 20px;
}

.back-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: absolute;
  left: 10px; 
  color: rgb(0, 0, 0);
  padding: 8px 16px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; 
}

.back-button img {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.back-button span {
  font-size: 14px;
}

.back-button:hover {
  background-color: #b2b3b369; 
}/*finish back button*/

.content-section {
  box-sizing: border-box;
  margin: 2rem 1rem 4rem;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.product {
  margin: 2rem 0;
  text-decoration: none;
  width: 100%;
}

.product img {
  width: 100%;
}

.product-title {
  color: #181818;
  font-size: 1.2rem;
  font-weight: bold;
}

.product:hover .product-title {
  color: #4f9ad4;
}

/* FOOTER SYTLISH */
.page-content {
  flex: 1;
}

.page-footer {
  background-color: #4f9ad4;
  margin-top: 80px;
}

.footer-content {
  padding: 0.5rem 0;
  text-align: center;
}

.footer-content p {
  color: black;
  margin: 2rem 0;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.footer-links a {
  color: #edd2af;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  list-style: none;
}

.footer-contact a {
  color: #edd2af;
}
/* FINISH STYLISH FOOTER*/



/* DESKTOP AND UP */
@media only screen and (min-width: 1001px) {
  .content-section {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
  }

  .back-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    position: absolute;
    left: 10px; 
    color: rgb(0, 0, 0);
    padding: 8px 16px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
  }
  
  .back-button img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  .back-button span {
    font-size: 16px;
  }
  
  .back-button:hover {
    background-color: #b2b3b369; 
  }

  .content-section {
    width: 50%;
  }

  .product {
    width: 30%;
  }

  .footer-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    list-style: none;
  }
}
  